@using CalculateAirPlanDescent.Data.Models
<h7>Please input all required fields</h7>

<br />
<br />

<EditForm Model="@descendRateModel">
    <DataAnnotationsValidator />
    <ValidationSummary />

   
        <div class="row">
            <div class="col">
            <label id="labDescendFrom">Descned From Altitude (Feet)</label>
                <div class="col-sm-1">
                    <InputNumber id="txtDescendFrom" name="txtDescendFrom" @bind-Value="descendRateModel.descendFrom" disabled="@Isdisable()" />
                    @*<ValidationMessage For="() => descendRateModel.descendFrom"/>*@
                </div>
            </div>

            <br/>

            <div class="col">
                <label id="labDescendTo">Descend To Altitude (Feet)</label>
                <div class="col-sm-1">
                <InputNumber id="txtDescendTo" name="txtDescendTo" @bind-Value="descendRateModel.descendTo" disabled="@Isdisable()" />
                </div>

            </div>
        </div>
  
    <br/>
    <br/>

        <div class="row">
            <div class="col">
                <label id="descendSpeed">Air Speed (Knots)</label>
                <div class="col-sm-1">
                <InputNumber id="txtDescendSpeed" name="txtDescendSpeed" @bind-Value="descendRateModel.descendSpeed" disabled="@Isdisable2()" />
                </div>

            </div>

            <br/>

            <div class="col">
                <label id="descendAngle">Pitch Angle (Degree)</label>
                <div class="col-sm-1">
                <InputNumber id="txtPitchangle" name="txtPitchangle" @bind-Value="descendRateModel.descendAngle" disabled="@Isdisable2()" />
                </div>

            </div>
        </div>
   
    <br/>
    <br/>
 
        <div class="row">
            <div class="col">
                <label id="labDistanceToDescendIn">Distance To Descend In (NM)</label>
                <div class="col-sm-1">
                <InputNumber id="txtDistanceDescendIn" name="txtDistanceDescendIn" @bind-Value="descendRateModel.distanceDescendIn" disabled="@Isdisable()" />
                </div>

            </div>
        </div>
  
    <br/>
    <br/>

    <button class="btn btn-primary" @onclick="GetCalculation">Calculate Descend</button>

</EditForm>



@code {
    // See code behind [DescendComponent.cs]
}
